@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-4" style="color:#263238">Welcome To the DIO Series Repository Project</h1>
        <h4 style="color:#8c9eff">This is a demo application where you can add and manage a repository of your favorites (or entirely fictional) TV Series.</h3>
        <h5 style="color:#8c9eff">Make yourself home!</h5>
        <button class="btn btn-primary">Go to Your Series!</button>
    </div>
</div>
