@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-fluid">
    <div class="text-center">

        <h1 class="display-4">Welcome To the DIO Series Repository Project</h1>
        <h4>This is a demo application where you can add and manage a repository of your favorites (or entirely fictional) TV Series.</h3>
        <h5><b>Make yourself home!</b></h5>

        <button type="button" 
            class="waves-effect waves-light btn btn-primary" 
            onclick="location.href='@Url.Action("Index", "MySeries")'" >Go See Your Series!</button>

    </div>
</div>
