@using SeriesMVC.Utils
@model SeriesMVC.Models.IViewSeries

@{
    ViewData["Title"] = "My Series - Create New Series";
}

<div class="jumbotron-fluid">
    <div class="text-left">
        <h1 class="display-4">My Series - Create New Series</h1>
        <h5>Create a new TV Series for your repository.</h5>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6">

        <div id="form-div">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group col s12">
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <select asp-for="Gender" class="form-select">
                        <option value="" disabled selected>Choose the Gender</option>
                        
                        @foreach (var genderView in ListsOf.GenderViews()) {
                            <option value="@genderView.Gender">@genderView.Description</option>
                        }

                    </select>
                </div>

                <div class="form-group col s12">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control"/>
                </div>

                <div class="form-group col s12">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group col s2">
                    <span asp-validation-for="Year" class="text-danger"></span>
                    <label asp-for="Year">Year</label>
                    <input asp-for="Year" class="form-control" value="1900" type="number" min="1900" max="@DateTime.Now.Year"/>
                </div>

                <br/>

                <button type="submit" class="waves-effect waves-light btn btn-success">Add New</button>

            </form>
        </div>

        <div>
            <a asp-action="Index">Back to My Series</a>
        </div>
        
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}